#wrapper nav {
    font-size: 12px;
    background-color: #FD7E14;
    box-shadow: 0 1px 2px rgba(19, 51, 61, 0.5);
    padding: 0 1em;
    height: 44px;
    /* Menu height */
    overflow: hidden;
    /* Don't show anything outside the nav */
}

.mainnav {
    height: 80px;
}

.sticky-offset {
    top: 80px;
}

#wrapper nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 88px;
    /* Menu height x 2 */
    position: relative;
    /* Position the menu button relative to this item */
}

#wrapper nav li {
    display: inline-block;
}

#wrapper nav a {
    display: inline-block;
    padding: 0 1em;
    color: rgb(236, 236, 236);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 44px;
    /* Menu height */
    height: 44px;
    /* Menu height */
}

#wrapper nav a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

#wrapper nav li:last-child {
    /* The menu button */
    position: absolute;
    /* Move the menu button out of flow */
    right: 0;
    bottom: 44px;
    /* Move upwards, the same distance as the menu height */
    background-image: linear-gradient(to right, rgba(19, 51, 61, 0) 0, rgba(253, 126, 20, 1) 2em);
    padding-left: 3em;
}

#wrapper nav li:nth-last-child(2) {
    /* The close button */
    display: none;
}

#wrapper nav#menu:target {
    height: auto;
    padding: 0;
}

#wrapper nav#menu:target ul {
    max-height: none;
}

#wrapper nav#menu:target li {
    display: block;
}

#wrapper nav#menu:target a {
    display: block;
    padding: 0 2em;
    background-color: #FD7E14;
}

#wrapper nav#menu:target a:hover {
    background-color: #FD7E14;
}

#wrapper nav#menu:target li:not(:first-child) {
    margin-top: 2px;
}

#wrapper nav#menu:target li:last-child {
    display: none;
}

#wrapper nav#menu:target li:nth-last-child(2) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-left: 2px solid rgb(253, 126, 20);
}

.fa-user {
    color: #0b76d4 !important;
}

.fa-map-marker {
    color: #FF2434 !important;
}